body
{
    font-size: 1.2em;
    color: white;
    background-color:black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    text-indent: 3.4%;

}
h1
{
	line-height: 1.7em;
    font-size: 2em;

}
ul{
text-indent: 2em;
}
h2
{
	
    font-size: 1.5em;

}
ul {    margin-top: 0%;}
figure { 
    margin-top: 0%;
    display: inline-block;
}